// Colors
$primary: hsl(171, 100%, 41%);
$info:    hsl(204, 71%, 53%);
$success: hsl(141, 53%, 53%);
$warning: hsl(48, 100%, 67%);
$danger:  hsl(4, 79%, 66%);

// Border radius
$radius: 0;

@import "custom/reset";
@import "custom/utils";

.log-header {
  position: fixed;
}

.log-container {
  margin-bottom: 22px;
}

.log-graph{
  position: relative;
  display: block;
  height: 40px;
  margin-top: 40px;
}

.fight-block {
  height: 30px;
  position: absolute;
  top: 0px;
}

.axis {
  width: 100%;
}

.bg-success {
  background-color: $success;
}
.bg-danger {
  background-color: $danger;
}
.bg-info {
  background-color: $info;
}
.ember-popover{
  padding: 5px;
}

.search-container {
  margin-bottom: 50px;
}

.search-box {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  top: 0px;
  width: 100%;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 11px;
}

html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
