<form class="search-box" {{on "submit" this.search}}>
  <Input @value={{this.logid}} class="form-control" placeholder="Log Id" type="text" />
  <button type="submit">Import</button>
</form>
<div class="search-container">
</div>
